<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, class: "block" %>
    <%= form.text_field :title, class: "w-2/4" %>
  </div>

  <div>
    <%= form.label :description, class: "block" %>
    <%= form.text_area :description, class: "w-2/4" %>
  </div>

  <div>
    <%= form.label :priority, class: "block" %>
    <%= form.select :priority, Task::PRIORITY_LIST.each(&:capitalize!), {}, class: "w-2/4" %>
  </div>

  <div>
    <%= form.label :due_date, class: "block" %>
    <%= form.datetime_field :due_date, class: "w-2/4" %>
  </div>

  <% if edit %>
    <div>
      <%= form.label :completed, class: "block" %>
      
      <label class="inline-flex items-center cursor-pointer w-2/4">
        <%= form.check_box :completed, class: "sr-only peer" %>
        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-500"></div>
      </label>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
