<div id="<%= dom_id task %>">
  <p>
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= task.priority %>
  </p>

  <p>
    <strong>Due date:</strong>
    <% # Only removed timezone reference. Using ISO 8601 format as default.
      # Ideally there should have an users column to hold data per user level so he can freely choose how to display. %>
    <%= task.due_date.strftime("%Y-%m-%d, %H:%M:%S") %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= check_box_tag("completed", false, task.completed, disabled: true) %>
  </p>
</div>
