<%= form_with(model: card, 
              data: { turbo: true,
                      controller: "card", 
                      "card-is-new-value": local_assigns[:new_card] || false,
                      "card-is-expanded-value": "false"
                    },
              class: 'mx-2 rounded-lg border mb-4 border-gray-300 box-border shadow-sm hover:shadow-gray-400
                      max-h-72 overflow-hidden transition-all duration-[.4s] ease-in w-[15rem]',
              id: (local_assigns[:new_card] ? "new-form" : dom_id(card))) do |f| %>
  <%= f.hidden_field :title, "data-card-target": "titleInput" %>
  <%= f.hidden_field :text, "data-card-target": "textInput" %>
  <% #  TODO: perhaps it should have hidden overflow and only be able to see when expanded, so scrolling won't be a problem when mouse is over a card  %>
  <% #  TODO: change max-h-72 to an adaptable height like keep  %>
  <% #  TODO: clicking twice (in title and in text) makes it expand and retract, fix it to only retract when clicking outside  %>
  <% #  pb-2 here is because the new card is cutting half of the last line for some reason, but this will push higher than expected the other cards  %>
  <div class="card-content w-full overflow-y-auto overflow-x-hidden max-h-72 pb-2">
    <% #  TODO: change contenteditable to true when showing magnified card on click  %>
    <% #  TODO: put placeholders for title and text  %>
    <% #  TODO: should we let content have rich text or only plain text? Also # FIXME: if using it, in chrome it seems to add more whitespace for no reason %>
    <div
      data-action="focus->card#expandCard"
      data-card-target="title"
      class="px-3 py-2 border-b border-dashed border-gray-300 text-red-800 font-semibold"
      contenteditable="true">
      <%= card.title %>
    </div>
    <div data-card-target="text" class="px-3 py-2" contenteditable="true">
      <%= card.text %>
    </div>
  </div>
<% end %>
