<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task Management App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <%# TODO: add link styles again that tailwind removed %>
      <%= render partial: "layouts/user_bar" %>

      <main class="container flex flex-col flex-1 px-5 mx-auto my-12">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
